<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>274154708321-50mvh21157bbcp1c1007u60or601bshk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274154708321-50mvh21157bbcp1c1007u60or601bshk</string>
	<key>API_KEY</key>
	<string>AIzaSyCOLbKdQ-EXJW6d5J2vsZ42TeuDNi0oNBk</string>
	<key>GCM_SENDER_ID</key>
	<string>274154708321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MY.iGroceryExamAssignment</string>
	<key>PROJECT_ID</key>
	<string>munirigroceryexamproject</string>
	<key>STORAGE_BUCKET</key>
	<string>munirigroceryexamproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274154708321:ios:f618d59c722d4416</string>
	<key>DATABASE_URL</key>
	<string>https://munirigroceryexamproject.firebaseio.com</string>
</dict>
</plist>